#header{
    width: 100%;
    height: 50px;
    background-image:linear-gradient(0,rgb(79, 157, 79),rgb(23, 87, 23)) ;
    position: relative;
    position: fixed;
    top:0;
    z-index: 100;
}
.headert{
    display: flex;
    justify-content: space-between;
}
.logo,.logo--img{
    width: 50px;
    height: 50px;
}
.home{
    display: inline-block;
    text-decoration: none;
    font-size: 2.0rem;
    color: var(--white-color);
    font-weight: 200;
    line-height: 50px;
}
#bgrtitle{
    position: relative;
    margin-top: 50px;
    height: 300px;
    background-color: aquamarine;
}
.bgrtitle_name{
    position: absolute;
    font-size: 2.0em;
    color: blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#content{
    background-color: rgb(233, 233, 240);
    display: flex; 
    font-size: 1.5em;      
}
.menu{
    position: sticky;
    background-color: rgb(228, 252, 240);
    border-radius: 5px;  
    top: 50px;      
}
.menu_title h3{
    text-transform: uppercase;
    text-align: center;
}
.menu_title{
    padding: 8px 15%;
    list-style: none;
    text-transform: capitalize;
    display: block;
    
}
.menu_title li a {
    text-decoration: none;
    color: var(--text-color);
}
.menu_title li a:hover{
    color: rgb(147, 146, 146);
}
/*Nội dung*/
.content{
    background-color: hsl(0deg 0% 98%);
            
}
.content h2{
    display: block;
    padding: 20px 30px;
    font-size: 1.6em;
}
.content p{
    color: var(--text-color);
    padding-left: 20px;
    font-size: 1.2em;
    line-height: 1.6em;
}
.content li{
    list-style: none;
    color: var(--text-color);
    padding-left: 20px;
    margin-bottom: 20px;
    line-height: 1.6em;
    font-size: 1.2em;
}
.content img{
    margin: auto;
    display: block;
    padding: 16px 0;
}
#footer{
    padding: 64px 16px;
    text-align: center;
   }
   .socials{
       font-size: 30px;
   }
   .socials a{
       text-decoration: none;
       color:#000 ;
   }
   .socials a:hover{
       color:rgb(107, 106, 106);
   }